/.project
/.pydevproject
/.idea
/.settings
/doc/build
*.pyc
*reports/
*application_generated_data_files/
*build/
*dist/
*egg-info/
MANIFEST
*.cache/
*.csv
*.zip
._*
*.tgz
*.DS_Store
*/Bernabe_USeville/
*.png
*.npy
*/parsl_testing/*.txt
*.log
*.h5
*.pickle
*.pkl
my_testing/*txt
my_testing/*mat
*.aplx
*.dict
*.npz
*.dat
*.mat
